<?xml version="1.0"?>
<phpunit
        bootstrap="./vendor/autoload.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        verbose="true"
        stopOnFailure="false"
        syntaxCheck="true"
        >
    <testsuite name="MetadataGrapher tests">
        <directory>./tests/</directory>
    </testsuite>
</phpunit>